.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}

.secondColumn {
  padding-top: 25px !important;
}

.thirdColumn {
  padding: 25px 0px 0px 0px !important;
}